$color-background: #660000;
$color-form-background: #303030;
$color-slider-border: #6B6B6B;
$color-slider-background: #333333;
$color-primary: #76C38F;
$color-image:#353535;
$color-footer-background: #2B2B2B;
$color-text-service-title:#979797;

$content-width: 1201px;
$tablet-width: 768px;
$mobile-width: 320px;
